* {
    --transition-time: 0.25s;
}

iframe.music {
    border: 0;
    width: 100%;
    height: 42px;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.container.page-center {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

div.author {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div.about p {
    text-align: center;
}

div.about img {
    width: 10%;
    border-radius: 50%;
}

div.buttons {
    display: flex;
    padding: 1rem;
    gap: 0.25rem;
}

div.links ul {
    padding: 0;
    gap: 20px;
    list-style: none;
}

a {
    color: var(--text);
    transition: var(--transition-time);
    text-decoration: none;
    user-select: none;
}

a::after {
    content: ' ↗';
    color: var(--link-hover-color);
}

a:hover,
a:focus {
    color: var(--link-hover-color);
    transition: var(--transition-time);
}

.clickable {
    cursor: pointer;
}

.non-selectable {
    user-select: none;
}

.hover-color {
    transition: var(--transition-time);
}

.hover-color::after {
    content: ' ↙';
    color: var(--link-hover-color);
}

.hover-color:hover {
    color: var(--link-hover-color);
    transition: var(--transition-time);
}